{% extends "base_html.html" %}

{% block head %}
<title>Login - The Dark Side</title>
<link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<body class="text-center">
    <main class="form-signin">
    <form method="POST" action="/login">
        <a href="{{url_for('main.index')}}">
            <img class="mb-4 mx-auto d-block" src="{{url_for('static', filename='img/TheDarkSideLogo.png')}}"  alt="" width="auto" height="100">
        </a>
        <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% if messages[0] == "badCredentials" %}
                    <div class="bg-danger mb-4">
                        <span style="color: white">Credenciales incorrectas, por favor verifiquelas.</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="nombre@ejemplo.com">
            <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" name="remember" value="remember"> Recuérdame
            </label>
          </div>
        
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Ingresar</button>
        <a href="{{url_for('auth.signup')}}" class="w-100 btn btn-lg btn-outline-primary bg-white" type="submit">Crear cuenta</a>

        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
    </main>

</body>
{% endblock %}