{% extends "logged/base_navbar_logged.html" %}

{% block head %}
<title>Órdenes de compra · Lista</title>
<script type="text/javascript">
    const userID = {{userID}};
    function getHREF(IDOrder){
        return  `{{url_for('abm_buyorder.edit', id=IDOrder)}}`;
    }
</script>
<script src="{{url_for('static',filename='js/abm/buy_orderFilter.js')}}"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
                <div class="col me-2">
                    <label for="fromDate">&nbsp;&nbsp;&nbsp;&nbsp;Desde:</label>
                </div>
                <div class="col me-2">
                    <label for="toDate">&nbsp;&nbsp;&nbsp;&nbsp;Hasta:</label>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control me-2" type="search">
                </div>
                <div class="col-md-3">
                    <select class="form-select me-2 h1">
                        <option value="Provider" selected>Proveedor</option>
                        <option value="IDOrder">Orden de compra</option>
                        <option value="IDReceipt">Orden de recepción</option>
                    </select>
                </div>
                <div class="col text-center me-2">
                    <input id="fromDate" value="{{fromDate}}" class="form-control" type="date">
                </div>
                <div class="col text-center me-2">
                    <input id="toDate" value="{{toDate}}" class="form-control" type="date">
                </div>
                <div class="col">
                    <a href="{{url_for('abm_buyorder.new')}}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                          </svg>
                          Nueva orden de compra
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col">
            <h2>Órdenes de compra </h2>
        </div>
        <div class="col text-end">
            <button class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
                Exportar
            </button>
        </div>
    </div>
</div>
<table class="table table-dark text-center table-responsive">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° de orden de compra</th>
            <th>N° de orden de recepción</th>
            <th>Proveedor</th>
            <th>Cantidad de productos</th>
            <th>Precio $</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for IDOrder in orders %}
        <tr>
            <td>{{orders[IDOrder]["Date"]}}</td>
            <td>{{IDOrder}}</td>
            <td>{{orders[IDOrder]["IDReceipt"]}}</td>
            <td>{{orders[IDOrder]["Provider"]}}</td>
            <td>{{orders[IDOrder]["Quantity"]}}</td>
            <td>{{orders[IDOrder]["Price"]}}</td>
            <td>
                <a title="Editar orden" class="text-decoration-none text-light" href="{{url_for('abm_buyorder.edit', id=IDOrder)}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </td>
            <td>
                <a class="text-decoration-none text-light" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}