{% extends "base_html.html" %}

{% block head %}
<title>Signup - The Dark Side</title>
<link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<body class="text-center">
    <main class="form-signin">
    <form method="POST" action="/signup">
        <a href="{{url_for('main.index')}}">
            <img class="mb-4 mx-auto d-block" src="{{url_for('static', filename='img/favicon.png')}}"  alt="" width="auto" height="100">
        </a>
        <h1 class="h3 mb-3 fw-normal">Registrar usuario</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="bg-danger mb-2">
            {% if messages[0] == 'emailExists' %}
                    <span style="color: white">El email ya está registrado</span><br>
                    <a class="link-light" href="{{url_for('auth.login')}}">Ingresar</a>
            {% endif %}
            {% if messages[0] == 'emailBad' %}
                        <span style="color: white">Ingrese un email correcto</span>
            {% endif %}
                </div>
        {% endif %}
        {% endwith %}
        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
            <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="name" name="name" class="form-control" id="floatinName" placeholder="Contraseña">
            <label for="floatingName">Nombre de la empresa</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>
    
        
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Crear cuenta</button>
        <a class="w-100 btn btn-lg btn-outline-primary bg-white mb-3" href="{{url_for('auth.login')}}">Volver</a>

        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
    </main>

</body>
{% endblock %}